<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:insert="fragments/nav :: nav"  ></div>
    <h1>Find Restaurants Near You</h1>
    <form action="/api/places/nearbyRestaurants" method="get">
      <label for="keyword">Keyword (e.g., pizza, McDonald's):</label>
      <input type="text" id="keyword" name="keyword" required>
  
      <label for="location">Location (latitude,longitude):</label>
      <input type="text" id="location" name="location" required>
  
      <label for="radiusInMeters">Radius (in meters):</label>
      <input type="number" id="radiusInMeters" name="radiusInMeters" required>
      
      <button type="submit">Search</button>
  </form>
  <!-- ... other HTML elements ... -->
<div id="results"></div>
<!-- ... other HTML elements ... -->




       <script type="text/javascript"  src="js/search.js"></script>
</body>    
</html>